
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,900&family=Montserrat:wght@400;600;800;900&display=swap');

@font-face {
  font-family: 'Cocogoose';
  src: url(./fonts/Cocogoose\ Pro\ Ultralight-trial.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'Cocogoose';
  src: url(./fonts/Cocogoose\ Pro\ Light-trial.ttf), url();
  font-weight: 300;
}

@font-face {
  font-family: 'Cocogoose';
  src: url(./fonts/Cocogoose\ Pro\ Semilight-trial.ttf);
}

@font-face {
  font-family: 'Cocogoose';
  src: url(./fonts/Cocogoose\ Pro-trial.ttf);
}

:root {
  --darkgray: #272a31;
  --lightgray: #d3d3d3;
  --orange: #ec5242;
  --montserrat: 'Montserrat', sans-serif;
  --lato: 'Lato', sans-serif;
  --test: 2px solid red;
  --cocogoose: 'Cocogoose', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  font-family: var(--lato);
}

.section-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  position: relative;
}

.section-title::after {
  content: '';
  border-top: 1px solid var(--orange);
  width: 15%;
  height: 10px;
  position: absolute;
  top: 120%;
  left: 42%;
}

.navbar__container {
  width: 100%;
  margin: 20px;
  position: fixed;
}

.navbar__hamburger {
  width: 25px;
}

.navbar__links {
  display: none;
}

.hero__container {
  background-image: url(./images/mobile_intro_bg.png);
  background-size: contain;
  height: 70vh;
  border: 0.1px white solid;
}

.hero__texts {
  width: 90%;
  margin: 20% auto;
}

.hero__title {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hero__logo {
  max-width: 100%;
  margin-left: -50px;
  margin-bottom: -5px;
}

.hero__intro::before{
  content: 'FEST';
  width: 100%;
  position: absolute;
  top: -35px;
  left: 60%;
  font-weight: 800;
  font-family: var(--cocogoose);
  
}
.hero__intro {
  font-size: 0.8rem;
  border: 4px solid rgb(255, 255, 255);
  background-color: rgb(247, 247, 248);
  margin-bottom: 20px;
  position: relative;
}

.hero__date-title {
  font-family: var(--montserrat);
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--darkgray);
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.features__container {
  background-image: url(./images/cardPatternBg.png);
  background-color: var(--darkgray);
  background-repeat: repeat;
  background-size: 1.5rem;
  padding: 10% 5%;
}

.features__title {
  margin-top: 10px;
  margin-bottom: 25px;
  color: white;
  position: relative;
}

.features__card {
  display: flex;
  align-items: center;
  gap: 15px;
  background: rgba(255, 255, 255, 0.1);
  padding: 16px 5px;
  margin-bottom: 10px;
}

.card__icon {
  width: 7rem;
}

.card__title {
  color: var(--orange);
  font-weight: 800;
  font-size: 1rem;
}

.card__desc {
  color: white;
  font-size: 0.75rem;
}

.features__button {
  display: block;
  width: 75%;
  margin: 50px auto;
  background-color: #ec5242;
  padding: 20px 15px;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.artist__container {
  width: 100%;
}

.artist__title {
  margin: 40px 0;
}

.artist__card {
  width: 90%;
  margin: 50px auto;
  display: flex;
  gap: 15px;
}

.artist__image {
  grid-area: img;
  max-width: 50%;
  box-shadow: 1px 1px 20px var(--darkgray);
}

.artist__name {
  font-size: 1.2rem;
  font-weight: 800;
}

.artist__style {
  font-size: 0.8rem;
  color: var(--orange);
  position: relative;
  padding-bottom: 10px;
}

.artist__style::after {
  content: '';
  border-top: 2px var(--lightgray) solid;
  width: 15px;
  position: absolute;
  top: 100%;
  left: 0%;
}

.artist__desc {
  font-size: 0.6rem;
  margin-top: 15px;
}

.partner__container {
  background-color: var(--darkgray);
  padding: 20px;
}

.partner__title {
  margin-top: 10px;
  color: var(--lightgray);
}

.partner__logos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3%;
}

.partner__logos img {
  width: 30%;
  max-width: 200px;
}

footer {
  text-align: center;
  margin: 20px;
}


/* ABOUT PAGE */

.aboutHero__logo{
  max-width: 100%;
  margin-top: 30px;
}

.centered{
  text-align: center;
}

.aboutHero__paragraph{
  background-color: white;
  border: 1px solid var(--lightgray);
  padding: 15px;
  width: 90%;
  margin: 0 auto;
  font-size: 0.8rem;
  margin-bottom: 20px;
}

