@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,900&family=Montserrat:wght@400;600;800;900&display=swap');

@font-face {
  font-family: 'Cocogoose';
  src: url(./fonts/Cocogoose\ Pro\ Ultralight-trial.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'Cocogoose';
  src: url(./fonts/Cocogoose\ Pro\ Light-trial.ttf), url();
  font-weight: 300;
}

@font-face {
  font-family: 'Cocogoose';
  src: url(./fonts/Cocogoose\ Pro\ Semilight-trial.ttf);
}

@font-face {
  font-family: 'Cocogoose';
  src: url(./fonts/Cocogoose\ Pro-trial.ttf);
}

:root {
  --darkgray: #272a31;
  --lightgray: #d3d3d3;
  --orange: #ec5242;
  --montserrat: 'Montserrat', sans-serif;
  --lato: 'Lato', sans-serif;
  --test: 2px solid red;
  --cocogoose: 'Cocogoose', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  font-family: var(--lato);
}

.noScroll {
  overflow-y: hidden;
}

ul {
  list-style: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.section-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  position: relative;
  height: 40px;
}

.section-title::after {
  content: '';
  border-top: 1px solid var(--orange);
  width: 15%;
  position: absolute;
  top: 90%;
  left: 42%;
}

.navbar__container {
  width: 100%;
}

.navbar__hamburger {
  width: 25px;
  margin: 20px 0 10px 20px;
  position: fixed;
}

.navbar__hamburger.active {
  display: none;
}

.navbar__links {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(230, 56, 25, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  transform: translateY(-100%);
  transition: 0.3s;
}

.navbar__links.active {
  transform: translateY(0);
}

.navbar__close {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: 20px;
}

.navbar__close.active {
  display: block;
}

.navbar__linkLogo {
  margin: 80px auto 40px;
}

.navbar__link a {
  color: #2b2b2b;
  font-family: var(--montserrat);
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 5px;
  border-bottom: 2px white solid;
}

.navbarLog__container,
.navbar__button,
.navbar__logo,
.aboutHero__detailed {
  display: none;
}

.hero__container {
  background-image: url(./images/mobile_intro_bg.png);
  background-size: contain;
  border: 0.1px white solid;
}

.hero__texts {
  width: 90%;
  margin: 20% auto;
}

.hero__title {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hero__logo {
  max-width: 100%;
  margin: 15px 0 10px;
}

.hero__intro {
  font-size: 0.8rem;
  border: 4px solid rgb(255, 255, 255);
  background-color: rgb(247, 247, 248);
  margin-bottom: 20px;
}

.hero__date-title {
  font-family: var(--montserrat);
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--darkgray);
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.features__container {
  background-image: url(./images/cardPatternBg.png);
  background-color: var(--darkgray);
  background-repeat: repeat;
  background-size: 1.5rem;
  padding: 10% 5%;
}

.features__title {
  margin-top: 10px;
  margin-bottom: 25px;
  color: white;
  position: relative;
}

.features__card {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding: 16px 5px;
  margin-bottom: 10px;
}

.card__icon {
  width: 30%;
}

.card__title {
  color: var(--orange);
  font-weight: 800;
  font-size: 1rem;
  width: 50%;
  text-align: center;
}

.card__desc {
  color: white;
  font-size: 0.75rem;
}

.features__button {
  display: block;
  width: 75%;
  margin: 50px auto;
  background-color: #ec5242;
  padding: 20px 15px;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.artist__container {
  width: 100%;
}

.artist__title {
  margin: 40px 0 20px;
}

.artist__card {
  width: 90%;
  margin: 50px auto;
  display: flex;
  gap: 15px;
}

.artist__image {
  max-width: 50%;
  box-shadow: 1px 1px 20px var(--darkgray);
}

.artist__name {
  font-size: 1.2rem;
  font-weight: 800;
}

.artist__style {
  font-size: 0.8rem;
  color: var(--orange);
  position: relative;
  padding-bottom: 10px;
  height: 25px;
  overflow-y: hidden;
}

.artist__style::after {
  content: '';
  border-top: 2px var(--lightgray) solid;
  width: 15px;
  position: absolute;
  top: 90%;
  left: 0%;
}

.artist__desc {
  font-size: 0.6rem;
  margin-top: 10px;
}

.partner__container {
  background-color: var(--darkgray);
  padding: 20px;
}

.partner__title {
  margin-top: 10px;
  color: var(--lightgray);
}

.partner__logos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3%;
}

.partner__logos img {
  width: 30%;
  max-width: 200px;
}

footer {
  text-align: center;
  margin: 20px;
}

/* ABOUT PAGE */

.aboutHero__logo {
  max-width: 100%;
  margin-top: 60px;
}

.centered {
  text-align: center;
}

.aboutHero__paragraph {
  background-color: white;
  border: 1px solid var(--lightgray);
  padding: 15px;
  width: 90%;
  margin: 15px auto 30px;
  font-size: 0.8rem;
}

.aboutHero__email {
  margin-top: 5px;
}

.aboutFest__container {
  padding: 30px 5% 50px;
  border-bottom: var(--lightgray) 2px solid;
}

.aboutFest__title {
  margin-bottom: 10px;
}

.aboutFest__desc {
  font-size: 0.8rem;
  margin-bottom: 40px;
}

.aboutFest__img {
  max-width: 100%;
}

.aboutPast__container {
  padding: 30px 5% 50px;
}

.aboutPast__title {
  height: 70px;
  margin-bottom: 10px;
}

.aboutPast__desc {
  font-size: 0.8rem;
  margin-bottom: 40px;
}

.aboutPast__imgCont {
  margin-bottom: 20px;
  width: 100%;
  height: 180px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 99999px rgba(230, 56, 25, 0.781);
}

.cont1 {
  background-image: url(./images/aboutPast1.png);
  background-size: cover;
}

.cont2 {
  background-image: url(./images/aboutPast2.png);
  background-size: cover;
}

.aboutPast__imgTitle {
  font-size: 1.6rem;
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
}

.aboutPast__year {
  color: white;
  font-size: 1.4rem;
}

@media (min-width: 320px) {
  .hero__container {
    background-size: cover;
  }
}

@media (min-width: 768px) {
  body {
    max-width: 1600px;
    margin: 0 auto;
  }

  .navbar__linkLogo,
  .navbar__hamburger,
  .navbar__close {
    display: none;
  }

  .section-title {
    height: 50px;
    font-size: 2rem;
  }

  .section-title::after {
    width: 5%;
    left: 48%;
  }

  .navbar__container {
    height: 100px;
    margin: 0 auto;
    top: 0;
    z-index: 9;
    max-width: 1600px;
    position: fixed;
  }

  .navbarLog__container {
    display: flex;
    justify-content: flex-end;
    background-color: var(--darkgray);
    height: 30px;
    gap: 20px;
    padding: 5px 10%;
  }

  .navbarLog__list {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .navbarLog__link {
    color: white;
    font-size: 1rem;
  }

  .navbar__menu {
    padding: 5px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0.5px 0.5px 0.1px var(--darkgray);
  }

  .navbar__logo {
    display: block;
    width: 100px;
  }

  .navbar__links {
    flex-direction: row;
    height: auto;
    width: auto;
    position: static;
    gap: 50px;
    color: var(--darkgray);
    align-items: center;
    background: none;
    transform: translateY(0);
  }

  .navbar__link a {
    color: #2b2b2b;
    font-family: var(--lato);
    font-weight: 800;
    font-size: 1.1rem;
    letter-spacing: normal;
  }

  .navbar__button {
    display: block;
    color: var(--orange);
    border: solid 4px var(--orange);
    margin: 0 60px;
    padding: 5%;
    width: 70%;
    background-color: white;
  }

  /* HERO SECTION */
  .hero__container {
    margin-top: 80px;
    background-image: url(./images/mainBg.png);
    background-size: cover;
    height: auto;
  }

  .hero__texts {
    margin: 5% auto 10%;
    width: 80%;
  }

  .hero__logo {
    width: 40%;
    margin-bottom: 50px;
  }

  .hero__intro {
    width: 60%;
    font-size: 1rem;
  }

  .hero__date-title {
    font-size: 3rem;
  }

  .hero__date-details {
    font-size: 1.4rem;
  }

  .features__container {
    padding: 5% 15%;
  }

  .features__title {
    margin-bottom: 70px;
  }

  .features__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .features__card {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 3%;
    gap: 30px;
  }

  .card__icon {
    max-width: 50px;
  }

  .card__title {
    font-size: 1.3rem;
    width: 100%;
  }

  .card__desc {
    font-size: 1rem;
    text-align: center;
  }

  .features__button {
    background: none;
    font-size: 1.5rem;
    text-decoration: underline;
    cursor: pointer;
  }

  .artist__container {
    padding: 0 10%;
  }

  .artist__title {
    margin: 60px auto;
  }

  .artist__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    margin-bottom: 100px;
  }

  .artist__card {
    width: 45%;
    margin: 20px 0;
  }

  .artist__name {
    font-size: 1.5rem;
  }

  .artist__desc {
    font-size: 0.8rem;
  }

  /* ABOUT PAGE */
  .aboutHero__container {
    background-image: url(./images/about_bg_01.png);
    background-color: rgb(247, 247, 248);
    background-size: contain;
    background-position: center center;
    height: auto;
    padding: 10% 20% 5%;
    margin-bottom: 30px;
  }

  .aboutHero__logo {
    width: 40%;
    margin-top: 0;
  }

  .aboutHero__paragraph {
    margin: 50px auto;
  }

  .aboutHero__brief {
    display: none;
  }

  .aboutHero__detailed {
    display: block;
    padding: 20px 5%;
    line-height: 22px;
  }

  .aboutFest__container {
    padding: 30px 20% 50px;
  }

  .aboutFest__desc {
    padding: 20px 20%;
  }

  .aboutFest__img {
    max-width: 50%;
    margin: 0 auto;
    display: block;
  }

  .aboutPast__container {
    padding: 30px 20% 50px;
  }

  .aboutPast__title {
    height: 100px;
  }

  .aboutPast__images {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  .aboutPast__imgCont {
    width: 40%;
    height: 250px;
  }
}
